<div class="container mb-4">
    <div class="row">
        <div class="col-2">
            <div class="card text-center bg-secondary text-white">
                <div class="card-body">
                    <div class="display-1">
                        {{ article.votes }}
                    </div>
                    <div class="h5">
                        {{ "Points" | uppercase}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="left d-md-flex align-items-start flex-column h-100">
                <div class="h1">
                    {{ article.title }}
                </div>
                <div>
                    (<a class="link" [href]="article.link">{{article.domain()}}</a>)
                </div>
                <div class="mt-auto">
                    <ul class="list-group list-group-horizontal fw-bold">
                        <li class="list-group-item border-0">
                            <a href (click)="voteUp()">
                                <i class="bi bi-arrow-up"></i>
                                upvote
                            </a>
                        </li>
                        <li class="list-group-item border-0">
                            <a href (click)="voteDown()">
                                <i class="bi bi-arrow-down"></i>
                                downvote
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
